<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <system.serviceModel>
        <services>
            <service name="SharingServer.SharingService">
                <endpoint address="net.tcp://192.168.150.89:9000/FileSharing" binding="netTcpBinding"
                    bindingConfiguration="" name="FileSharingEndPoint" contract="SharingInterfaces.ISharingService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>