<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://192.168.150.89:9000/FileSharing" binding="netTcpBinding"
                bindingConfiguration="" contract="SharingInterfaces.ISharingService"
                name="FileSharingEndPoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>